---
import "../styles/style.css"
import MainLayout from "../layouts/MainLayout.astro"

import Button from "../components/Button.astro";
---
<MainLayout title="Hjem">
			<Button variant="primary" size="small">Text</Button>
			<Button variant="secondary" size="medium">Text</Button>
			<Button variant="secondary" size="large">Text</Button>
			</MainLayout>